/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #00738e;
$btn-border-color: #00a8ff;
$btn-back-hover: #00576f;
$btn-back-active: #00a8d0;
$btn-color: #f7f7f7;

$btn-2-back: #fd005c;
$btn-2-border-color: #fd005c;
$btn-2-back-hover: #c10080;
$btn-2-border-color-hover: #c10080;
$btn-2-back-active: #b6003f;
$btn-2-border-color-active: #b6003f;

$btn-3-back: #3bda55;
$btn-3-color: #f7f7f7;
$btn-3-span-back: #2b9e3e;
$btn-3-border-color: #2b9e3e;
$btn-3-back-hover: #2b9e3e;
$btn-3-back-active: #227e31;
/*---------- /btn ---------*/