.secure {
  @include flexbox();
  @include flex-direction();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(flex-start);
  position: relative;
  margin: 0 auto 24px;
  padding: 21px 0 0;

  img {
    display: inline-block;
    vertical-align: top;
  }
}
.secure__text {
  position: relative;
  width: 77.7%;
  padding-right: 50px;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  @include main-font4();

  &:after {
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 76%;
    background: #323232;
    content: '';
  }

}

